{% load static %}
{% get_static_prefix as dir %}
<!DOCTYPE HTML>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{{ obj.0.sitename }}{% endblock %}</title>	
		<meta name="description" content="{{obj.0.metadescription}}">
		<meta name="keywords" content="Axom Light, lighting solutions, modern lighting, elegant lighting, interior lighting, home decor, lighting fixtures, contemporary design"> 
		<meta name="keywords" content="{{obj.0.metakeywords}}"> 
		<meta name="author" content="PocketFriendlyWeb">
		<meta name="author" content=" Website Development|Digital Marketing Agency in Dubai,UAE">
		<meta name="robots" content="index, follow">
		<meta property="og:title" content="Axom Light - Illuminate Your Space with Elegance">
		<meta property="og:description" content="Discover the exquisite collection of Axom Light, where modern design meets timeless elegance.">
		<meta property="og:image" content="https://axom.pocketfriendlyweb.com/media/Site_logo/Site_logo/logo.png">
		<meta property="og:url" content="#">
		<meta property="og:type" content="#">

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<!-- title here -->
					
        <!-- Favicon and Touch Icons -->
        <link rel="shortcut icon" href="{{obj.0.browsersitelogo.url}}" type="image/x-icon">
		 <!-- Bootstrap Font Icon CSS -->
		 <link rel="stylesheet" href=
		 "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

		 
		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Fonts -->
		<link rel="stylesheet" href="{{dir}}assets/css/fontawesome.css">
		<link href="https://fonts.cdnfonts.com/css/carmen-sans" rel="stylesheet">
			<!-- Plugin CSS -->
		<link rel="stylesheet" href="{{dir}}assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{dir}}assets/css/boxicons.min.css">
		<link rel="stylesheet" href="{{dir}}assets/css/boxicons.css">	
		<link rel="stylesheet" href="{{dir}}assets/css/animate.css">	
		<link rel="stylesheet" href="{{dir}}assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="{{dir}}assets/css/owl.theme.default.min.css">																		
		<link rel="stylesheet" href="{{dir}}assets/css/meanmenu.min.css">	
		<link rel="stylesheet" href="{{dir}}assets/css/jquery.fancybox.css">	
		<!--Theme custom css -->
		<link rel="stylesheet" href="{{dir}}assets/css/style.css">
		<!--Theme Responsive css-->
		<link rel="stylesheet" href="{{dir}}assets/css/responsive.css" />
		<!-- Google Analytics -->

		<script async src="{{ obj.0.googleanalyticscode|safe }}"></script>
		
		<script src="{{dir}}assets/js/vendor/modernizr-3.6.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
		<link href="{{dir}}assets/css/custom.css" rel="stylesheet">
		<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>

	
	
    
	</head>
	
	<body>
		<!-- Menu For Mobile Device  Start-->
		<div class="mobile-nav">
			<div class="mean-bar">
			<a href="index.html" class="logo">

				<img src="{{obj.0.sitelogo.url}}" class="logo-one" alt="Logo">
			</a>
		</div>
		</div>
		{% block content %}
		 <!-- Menu For Mobile Device End -->
		<!-- header area start here -->
		<header class="header-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-2">
						<div class="logo-area">
							<a href="{% url 'index' %}"><img src="{{obj.0.sitelogo.url}}" alt="logo"></a>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="menu-ara text-right">
							<nav class="main-menu">
								<ul>
									<li class="active sub-item"><a href="{% url 'index' %}">HOME</a>
									
									</li>
									<li><a href="{% url 'aboutus' %}">ABOUT US</a></li>
									<li><a href="{% url 'product' %}">PRODUCTS</a></li>
									<li><a href="{% url 'blog' %}">BLOG </a></li>
									<li><a href="{% url 'download' %}">DOWNLOADS</a></li>
									<li><a href="{% url 'contact' %}">CONTACT</a></li>
									<!-- <li><a href="#">|</a></li> -->
									<!-- <li><a href="#" class="icon-sec"><i class="fa fa-user"></i></a></li> -->
									<li><a href="mailto:{{obj.0.primaryemail}}" class="icon-sec"><i class="fa fa-envelope"></i></a></li>

									<!-- <li><a href="#" class="icon-sec"><i class="fa fa-search"></i></a></li> -->
									
								</ul>
							</nav>
						</div>
					</div>
				
				</div>
			</div>
		</header>
		<!-- header area end here -->

 <!-- Hero Section - Home Page -->
 <section id="hero" class="hero-banner">

	<img src="{{ bgimg.0.background_image.url }}" alt="" data-aos="fade-in">

	
<div class="banner-text">
	<div class="container">
	  <div class="row">
		<div class="col-lg-12">
			<div class="slide-testimonial owl-carousel">
				{% for carousal in objs %}

				<div class="single-testimonial">
					<div class="banner-content">
						
						<h1>{{ carousal.title }}</h1>
					
							<p>{{ carousal.content }}</p>
						
					
					</div>
				</div>
				{% endfor %}
			
			</div>
		</div>
		
	  </div>
	</div>
</div>
  </section><!-- End Hero Section -->

	
		<!-- about area start here -->
		<div class="about-area">
			<div class="container">
				<div class="row">
                     <div class="col-lg-6  col-md-6">
	                      <div class="about-area-img pr-40">
							{% if bgimg.0.image1 %}
							<img src="{{bgimg.0.image1.url}}">
							{% else %}
								<p>No image available</p>
							{% endif %}
	                           </div>
                            </div>
							<div class="col-lg-6 col-md-6 pl-30">
								<div class="section-title">
									<h2>{{bgimg.0.title1}}</h2>
								</div>
								
								<div class="content-area-part">
									<p>{{bgimg.0.content11}}</p>   
									<p>{{bgimg.0.content12}}</p>
								</div>

								<div class="view-btn">
									<a href="{% url 'aboutus' %}">View More</a>
								</div>
							</div>

					
				</div>
			</div>
		</div>
		
		<!-- about area end here -->
		<!-- new-arival area start here -->
		<div class="new-arival-area">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12 col-lg-12 position-relative">
						<div class="new-arrival-product-img">
							{% if bgimg.0.image4 %}
							<img src="{{bgimg.0.image4.url}}">
							{% else %}
							<p>No image available</p>
							{% endif %}
						</div>
					</div>
						
				
					<div class="right-top-position">
						<div class="section-title">
							<h2>{{bgimg.0.title2}}</h2>
							<p>{{bgimg.0.content21}}<br>{{bgimg.0.content22}}</p>
						</div>
						<div class="view-btn">
							<a href="{% url 'product' %}">View More</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
<!-- product slider section -->
<div class="partners-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="section-title">
                    <h2>{{ bgimg.0.title3 }}</h2>
                    <p>{{ bgimg.0.content3 }}</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="slide-parners owl-carousel">
                    {% for product in products %}
                    {% if product.is_selected %} <!-- Only display selected products -->
                    {% if procat %}
                    <div class="single-partner">
                        {% if product.displayimage1 %}
                        <img src="{{ product.displayimage1.url }}" alt="Product Image">
                        {% else %}
                        <p>No image available</p>
                        {% endif %}
                        <div class="product-details text-center">
                            <h6>{{ product.title }}</h6>
                            <p>{{ product.model_name }}</p>
                            <div class="read-btn">
                                <a href="{% url 'productdetail' slug=product.slug %}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

		
	<!--end-product slider section-->
		<!-- about area start here -->
		<div class="about-area">
			<div class="container">
				<div class="row">
                     <div class="col-lg-6  col-md-6 ">
	                      <div class="about-area-img pr-40">
							<img src="{{bgimg.0.image8.url}}">
	                           </div>
                            </div>
							<div class="col-lg-6 col-md-6 pl-30">
								<div class="section-title">
									<h2>{{bgimg.0.title4}}</h2>
								</div>
								
								<div class="content-area-part">
									<p>{{bgimg.0.content41}}</p>
									<p>{{bgimg.0.content42}}</p>
								</div>

								<div class="view-btn">
									<a href="{% url 'sustainability' %}">View More</a>
								</div>
							</div>
				</div>
				
			</div>
		</div>
		
		<!-- about area end here -->
	<!-- new-arival area start here -->
	<div class="new-arival-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12 position-relative">
					<div class="new-arrival-product-img">
						{% if bgimg.0.image11 %}
						<img src="{{bgimg.0.image11.url}}">
						{% else %}
								<p>No image available</p>
							{% endif %}

					</div>
				</div>
			
				<div class="right-top-position">
					<div class="section-title">
						<h2>{{bgimg.0.title5}}</h2>
						<p>{{bgimg.0.content51}}<br>
						{{bgimg.0.content52}}</p>
					
					</div>
					<div class="view-btn">
						<a href="{% url 'blog' %}">View More</a>
					</div>
				</div>
			
			</div>
		

		</div>
	</div>
	
		<!-- footer area start here -->
		<footer class="footer-area">
			<div class="footer-top">
				<div class="container" data-aos="fade-up">
					
					<div class="row">
						<div class="col-lg-3 col-md-6 footer-contact">
							<h4>Address</h4>
	
							<p>
								{{obj.0.address1}} <br>
								{{obj.0.address2}} {{obj.0.city}}<br>
								{{obj.0.country}} {{obj.0.zipcode}}<br><br>
                               <strong><i class="fa fa-envelope"></i></strong> {{obj.0.primaryemail}}<br>
							   &nbsp; &nbsp;&nbsp; {{obj.0.secondaryemail}}
							</p>
						</div>
	
						<div class="col-lg-5 col-md-5 footer-links pright-50 about-footer">
							<h4>About AXOM </h4>
							<p>{{obj.0.sitedescription}}</p>
						</div>
	
	
           
						<div class="col-lg-4 col-md-6 footer-links">
							<h4>Subscribe to our newsletter</h4>
							<form method="post" action="{% url 'subscribe_newsletter' %}">
								{% csrf_token %}
								<div class="theme-input-group">
									<input type="email" name="email" placeholder="Your Email" required>
									<button type="submit"><i class="fa fa-arrow-right"></i></button>
								</div>
							</form>
				
                             <div class="row">
								<div class="col-lg-6 col-md-6">
						
							<div class="social-links ">
								<h4>Follow Us On</h4>
									<a href="{{ obj.0.facebookurl }}" class="twitter" target="_blank"><i class="bi bi-facebook"></i></a>
									<a href="{{ obj.0.instagramurl }}" class="facebook" target="_blank"><i class="bi bi-instagram"></i></a>
									<a href="{{ obj.0.twitterurl }}" class="instagram" target="_blank"><i class="bi bi-twitter"></i></a>
									<a href="{{ obj.0.linkedinurl }}" class="google-plus" target="_blank"><i class="bi bi-linkedin" target="_blank"></i></a>
								
								</div> 
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="logo-sec">
								<img src="{{obj.0.sitelogo.url}}" class="footer-logo mtop-15">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
			<div class="footer-bottom clearfix">
				<div class="container">
					<div class="copyright">
						<p>© Copyright 2023 axomlights. All right reserved.</p>
					</div>
					<div class="credits ">
						<a href="#">
							Terms of Use |
	
						</a>
						<a href="#">Privacy Policy |</a>
						<a href="#">Contact</a>
					</div>
				</div>
			</div>
		</footer>
		{% endblock %}
		<!-- footer area start here -->
		<!-- js file start -->
		<script src="{{dir}}assets/js/vendor/jquery-3.3.1.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
		<script src="{{dir}}assets/js/plugins.js"></script>
		<script src="{{dir}}assets/js/Popper.js"></script>
		<script src="{{dir}}assets/js/bootstrap.min.js"></script>	
		<script src="{{dir}}assets/js/scrollup.js"></script>
		<script src="{{dir}}assets/js/owl.carousel.min.js"></script>
		<script src="{{dir}}assets/js/jquery.meanmenu.js"></script>
		<script src="{{dir}}assets/js/jquery.fancybox.js"></script>
		<script src="{{dir}}assets/js/jquery.counterup.min.js"></script>	
		<script src="{{dir}}assets/js/waypoints.min.js"></script>
		<script src="{{dir}}assets/js/main.js"></script>
		<script src="{{dir}}assets/js/custom.js"></script>
		<!-- End js file -->
		<script>
			var galleryThumbs = new Swiper('.gallery-thumbs', {
   spaceBetween: 10,
   slidesPerView: 4,
   freeMode: true,
   watchSlidesVisibility: true,
   watchSlidesProgress: true,
 });
 var galleryTop = new Swiper('.gallery-top', {
   spaceBetween: 10,
   navigation: {
	 nextEl: '.swiper-button-next',
	 prevEl: '.swiper-button-prev',
   },
   thumbs: {
	 swiper: galleryThumbs
   }
 });
							
</script>
	</body>
</html>